<ons-card modifier="material modifier2 super-card">
<div class="axdiv-card">
<center>
<div class="circle {{partido}}"></div> 

<img src="{{img.medium.url}}" class="circular-img">
<br/><br/>
<div class="title">
  <h3>{{nombre}} {{apellido}}</h3>
  <h4 class="text-{{partido}}">Partido: {{partido}}</h4>
</div>
</center>
</div>
<div class="content"  style="background:transparent; margin-top: 10px; border: no-border;">
  <ons-list>
    <ons-list-item modifier="material" onclick="Ranking('{{id}}')" tappable>
      <div class="center">
      <i class="fas fa-chart-line"></i> &nbsp; Ranking
      </div>
      <div class="right">
        <img src="img/icons-app/arrow.png" width="35px">
      </div>
    </ons-list-item>
    <ons-list-item modifier="material" onclick="Propuestas('{{id}}')" tappable>
      <div class="center">
      <i class="fas fa-paste"></i> &nbsp; Propuestas
      </div>
      <div class="right">
        <img src="img/icons-app/arrow.png" width="35px">
      </div>
    </ons-list-item>
    <ons-list-item modifier="material" onclick="Solicitud('{{id}}')" tappable>
      <div class="center">
      <i class="fas fa-envelope-open-text"></i> &nbsp; Enviar solicitud
      </div>
      <div class="right">
        <img src="img/icons-app/arrow.png" width="35px">
      </div>
    </ons-list-item>
 </ons-list>
</div> 
<div class="content axdiv-card"  style=" background:transparent; margin-top: 30px;">
  <ons-list class="axdiv-card">
  <ons-list-item><b>Partido:</b> {{partido}}</ons-list-item>
  <ons-list-item><b>Distrito:</b> {{distrito}}</ons-list-item>
  <ons-list-item><b>Cargo:</b> {{cargo}}</ons-list-item>
  <ons-list-item expandable>
      <b>Biografía</b>
      <div class="expandable-content justify-text">{{bio}}</div>
    </ons-list-item>
  </ons-list>
</div>
</ons-card>