<ons-card modifier="material modifier2 super-card">
<div class="axdiv-card" style="width:100%; position:relative; float:left;">
	<div class="pull-left" style="width: 30%;">
		<center>
    	<div class="circle-2 {{diputado.partido}}"></div> 
		<img src="{{diputado.img.medium.url}}" class="circular-img-2">
		</center>
    </div>
	<div class="title pull-left" style="width: 70%;">
	  <p style="margin-top: 17px; font-size: 15px; width: 80%;"><b>{{diputado.nombre}} {{diputado.apellido}}</b></p>
	  <p style="margin-top: 17px; font-size: 12px; width: 80%;" class="text-{{blankid diputado.partido}}">{{diputado.partido}}</p>

	</div>
</div>
<div class="pull-left" style="width:100%;">

<ons-list>
	<ons-list-item modifier="material" >
	<div class="left">
		<h1 style="font-size:30px; color: #989998;">{{propuestas.length}}</h1> &nbsp; 
	</div>
	<div class="center">
         <h3 style="color:#847041;">&nbsp; Iniciativas presentadas</h3>
    </div>
    </ons-list-item>
	{{#each propuestas}}
	<ons-list-item modifier="chevron material" onclick="Propuesta({{id}})" tappable>
		<div class="left"><center><h2>{{inc @index}}</h2></center><div class="circle-3 {{estatus}}"></div></div>
		<div class="center">
		    <span class="list-item__title">{{titulo}}</span>
			<span class="list-item__subtitle">{{fecha}} - {{estatus}}</span>
	    </div>
	</ons-list-item>
	{{/each}}
</ons-list>
</div>
</ons-card>